<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/bookStore</property>"Create This DB or your own DB"
		<property name="hibernate.connection.username">put your own username</property>
		<property name="hibernate.connection.password">put your own password</property>
		
		<mapping class="com.bookstore.entities.Publisher"/>
		<mapping class="com.bookstore.entities.Writer"/>
		<mapping class="com.bookstore.entities.Book"/>
		
		
    </session-factory>
</hibernate-configuration>
